trigger:
  branches:
    include:
      - main

pool:
  name: 'managed-pool-agents'

variables:
  imageName: 'insecure-demo-app'
  imageTag: '$(Build.BuildId)'
  fullImage: '$(imageName):$(imageTag)'

steps:
  - checkout: self

  # SBOM FROM SOURCE + SCA SCAN
  - script: |
      echo ">>> Installing Syft for SBOM generation"
      curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin

      echo ">>> Generating SBOM from source (SPDX JSON)"
      syft dir:. -o spdx-json=sbom-source.spdx.json

      echo ">>> Installing Trivy for SBOM scan"
      wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
      echo "deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee /etc/apt/sources.list.d/trivy.list

      sudo apt-get update -y
      sudo apt-get install -y trivy

      echo ">>> Scanning SBOM for vulnerabilities"
      trivy sbom --exit-code 1 sbom-source.spdx.json
    displayName: 'Generate + Scan SBOM (source)'

  # Install Docker + wget on the managed agent
  - script: |
      sudo apt-get update -y
      sudo apt-get install -y docker.io wget apt-transport-https gnupg lsb-release
      docker --version
    displayName: 'Install Docker and tools'

  # Build the container image
  - script: |
      sudo docker build -t $(fullImage) .
    displayName: 'Build image'

  # OPTIONAL SBOM FROM BULIT IMAGE 
  - script: |
      echo ">>> Generating SBOM from built image"
      syft $(fullImage) -o spdx-json=sbom-image.spdx.json

      echo ">>> Scanning SBOM (image) for vulnerabilities"
      trivy sbom --exit-code 1 sbom-image.spdx.json
    displayName: 'Generate + Scan SBOM (image)'
    condition: succeeded()

  # Install Trivy via APT and scan the image
  - script: |
      trivy --version || true

      sudo trivy image \
        --severity HIGH,CRITICAL \
        --vuln-type os,library \
        --ignore-unfixed \
        --exit-code 1 \
        $(fullImage)
    displayName: 'Scan image'

  # Only runs if scan passed
  - script: |
      sudo docker run --rm -d --name test-container -p 8080:80 $(fullImage)
      sleep 5
      sudo docker stop test-container
    displayName: 'image is deployed only if Trvy has found no vulnrabilities'
    condition: succeeded()