trigger:
  branches:
    include:
      - main

pool:
  name: 'managed-pool-agents'

variables:
  imageName: 'insecure-demo-app'
  imageTag: '$(Build.BuildId)'
  fullImage: '$(imageName):$(imageTag)'

steps:
  - checkout: self

  - script: |
      docker build -t $(fullImage) .
    displayName: 'Build image'

  - script: |
      sudo apt-get update -y
      sudo apt-get install -y wget
      wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_Linux-64bit.tar.gz
      tar zxvf trivy_Linux-64bit.tar.gz
      sudo mv trivy /usr/local/bin/
      trivy image \
        --severity HIGH,CRITICAL \
        --vuln-type os,library \
        --ignore-unfixed \
        --exit-code 1 \
        $(fullImage)
    displayName: 'Scan image'

  - script: |
      docker run --rm -d --name test-container -p 8080:80 $(fullImage)
      sleep 5
      docker stop test-container
    displayName: 'Smoke test'
    condition: succeeded()